body {
    font-family: Arial, sans-serif;
    background-color: #f9f9f9;
    margin: 0;
    padding: 0;
}

.container {
    max-width: 600px;
    margin: 50px auto;
    background: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

h2 {
    text-align: center;
    margin-bottom: 20px;
    font-size: 20px; /* 제목 크기 */
}

h3 {
    margin-top: 20px;
    font-size: 18px;
}

form label {
    display: block;
    margin: 10px 0 5px;
}

form input, form select, button {
    width: 90%; /* 모든 입력 필드와 버튼 길이 조정 */
    max-width: 400px;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ddd;
    border-radius: 5px;
    font-size: 14px;
}

button {
    background-color: #007bff; /* 버튼 파란색 */
    color: #fff;
    cursor: pointer;
    border: none;
    padding: 10px;
    font-size: 14px;
}

button:hover {
    background-color: #0056b3; /* 진한 파란색 */
}

.info-text {
    font-size: 12px;
    color: #6c757d;
    margin-top: -10px;
    margin-bottom: 10px;
}

.hidden {
    display: none;
}

.result-info {
    font-size: 12px;
    color: #6c757d;
    text-align: center;
    margin-top: 20px;
}
